<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <footer th:fragment="footer" class="page-footer font-small stylish-color-dark pt-4 mb-5">
        <hr>
            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto">

                        <!-- Content -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Kontakt</h5>
                        <p>
                            Danmarks Meteorologiske Institut <br>
                            Lyngbyvej 100 <br>
                            2100 København Ø<br><br>
                            tlf. +45 39 15 75 00<br>
                            mail:&nbsp<a href="mailto:info@dmi.dk" >info@dmi.dk</a><br><br>
                            CVR-nummer: 1815 9104<br>
                            EAN-nummer: 5798 0008 93252<br>
                        </p>

                    </div>
                </div>
            </div>

        <hr class="clearfix w-100 d-md-none">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"><small class="text-muted">© 2022 |&nbsp
            </small><a href="https://www.dmi.dk/"><small class="text-muted">dmi.dk</small></a>
        </div>
        <!-- Copyright -->

    </footer>

</body>

</html>